* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  background-color: white;
  width: 100%;
}

.my-daily {
  width: 100%;
}

.signing-in {
  position: relative;
  top: 70px;
  left: 290px;
}

.big-navbar-logo {
  position: relative;
  right: 50px;
}

.sign {
  font-weight: bold;
  font-size: 18px;
}

.me {
  position: relative;
  top: 5px;
  bottom: 295px;
}

.my_date {
  position: relative;
  top: 80px;
}

.main-container,
.my_content {
  width: 100%;
  margin: 0 10px 0 10px;
  background-repeat: no-repeat;
}

.red-back {
  background-color: red;
  height: 155px;
  width: 100%;
  position: relative;
  left: 10px;
}

.title {
  font-size: 100px;
  font-family: 'Arvo', serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 45px;
  color: white;
  position: relative;
  left: 280px;
}

.search-icon {
  position: relative;
  right: 95px;
  top: 13px;
}

.my_date,
.sign {
  color: white;
}

.title:hover,
.sign:hover {
  color: white;
}

.sub {
  height: 34px;
  margin-left: 300%;
  position: relative;
  top: 75px;
  right: 140px;
  background-color: white;
  width: 100%;
  color: red;
  font-weight: bold;
}

.sub:hover {
  color: red;
}

.nav-link1 {
  color: black;
  padding: 15px;
  font-weight: bold;
}

.nav-item {
  border-left: 1px solid #a8a8a8;
  position: relative;
  top: 7px;
  height: 30px;
}

.nav-link1:hover {
  color: red;
  text-decoration: none;
}

nav {
  border-bottom: 2px solid #f4f5f6;
}

nav::before {
  position: absolute;
  right: 0;
  content: "";
  width: 78px;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.navigation {
  background-color: white;
  position: relative;
  width: 100%;
  bottom: 15px;
  margin: 0 10px 0 10px;
}

.divider {
  margin: 0 0 25px 0;
}

.container {
  padding-top: 40px;
  padding-right: 105px;
  position: relative;
  right: 85px;
}

.turkey_accused,
.former_white_house,
.most_americans,
.congress_man,
.customer {
  font-weight: bold;
  font-size: 20px;
}

.img_fire,
.Donald_trump,
.congress,
.americas_customer_service {
  width: 27vw;
  height: 38vh;
}

.speech {
  width: 39vw;
  height: 45vh;
}

.feature,
.top_story,
.opinions_heading,
.culture_heading,
.latest-news,
.more-heading {
  font-weight: bold;
  color: #a8a8a8;
}

.link_story {
  font-weight: bold;
  color: black;
  font-size: 15px;
}

.charlie,
.medicine,
.Beto,
.fake_trump,
.Arrested,
.link_story {
  position: relative;
  left: 8px;
}

.link_story:hover {
  color: red;
  text-decoration: none;
}

.authors-container {
  position: relative;
  right: 10px;
  width: 100%;
}

.top_story-container {
  width: 100%;
  padding-left: 95px;
  position: relative;
  right: 8px;
}

.author1,
.author2,
.author3,
.author4,
.author5,
.author6 {
  color: #585858;
  font-weight: bold;
  font-size: 15px;
  padding-left: 15px;
  position: relative;
  bottom: 15px;
}

.culture {
  background-color: #f0f0f0;
  height: 890px;
}

.culture_heading {
  position: relative;
  top: 10px;
  left: 15px;
}

.visit_image,
.beer_image,
.diving_img {
  width: 17vw;
  height: 25vh;
}

.cloud_hills {
  width: 17vw;
  height: 26vh;
  padding-top: 10px;
}

.link_royal,
.link_craft {
  background-color: #b0b0b0;
  font-size: 15px;
  color: black;
}

.unplug,
.breweries,
.surfing,
.boost_royals {
  font-size: 15px;
}

.jamal-img {
  width: 130px;
  height: 70px;
}

.link_royal:hover,
.link_craft:hover {
  background-color: black;
  text-decoration: none;
}

.revive_pakistan,
.worth_travelling,
.sports,
.hidden-track {
  font-size: 22px;
  font-family: 'Arvo', serif;
}

.my-other-line {
  padding-top: 26px;
}

.ex-trump,
.chicago-img,
.school,
.bts-memebers,
.Amazonian-bird,
.aoc-img,
.warren-img {
  width: 145px;
  height: 100px;
}

.Arrested {
  font-size: 13px;
}

.elizabeth-warren,
.challenge-fox,
.taking-off,
.members,
.naacp,
.strike,
.official-discribes {
  font-size: 13px;
}

.donald {
  font-size: 15px;
  font-weight: bold;
}

.president {
  width: 170px;
  height: 230px;
}

.img1_container {
  padding-left: 50px;
}

.mig12 {
  position: relative;
  bottom: 180px;
  left: 25px;
}

.link-official {
  color: black;
  font-weight: bold;
}

.link-official:hover {
  text-decoration: none;
  color: red;
}

.more-heading {
  padding-top: 15px;
}

.everyone-loses-img,
.storm-img {
  width: 140px;
  height: 100px;
}

.link-stories {
  color: black;
  font-weight: bold;
}

.trade-wars,
.dallas-tornado,
.defense-minister,
.harry,
.romney,
.helen-mirren,
.anti-defamation,
.pittsburg,
.shooting-plasma,
.the-politician {
  padding-left: 35px;
}

.link-stories:hover {
  text-decoration: underline;
  color: red;
}

#sign-up {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  height: 160px;
  width: 300px;
  position: relative;
  top: 50px;
}

.logo {
  width: 10px;
  height: 10px;
}

.newsletter {
  font-weight: bold;
  position: relative;
  left: 45px;
  top: 10px;
  font-size: 15px;
  padding-left: 10px;
}

.sign-newsletter {
  color: white;
  background-color: #505050;
  width: 95px;
  height: 35px;
  border: none;
  position: relative;
  right: 24px;
  top: 10px;
}

.sign-newsletter:hover {
  background-color: #b0b0b0;
}

.pref-link {
  text-decoration: none;
  color: black;
}

.pref-link:hover {
  text-decoration: none;
  color: black;
}

.news-img {
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 45px;
  left: 15px;
}

.preferences {
  font-size: 14px;
  font-weight: bold;
  padding: 18px;
}

.main-container {
  background-color: white;
}

.main-header2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.main-logo {
  width: 30px;
  height: 30px;
  position: relative;
  left: 523px;
  top: 27px;
}

.my_content {
  position: relative;
  bottom: 30px;
  padding-top: 55px;
}

.my_main_container {
  position: relative;
  top: 38em;
}

.depth_cont {
  position: relative;
  top: 5em;
}

.my_mag_line {
  width: 930px;
  position: relative;
  left: 330px;
  top: 30px;
}

.see-features {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  width: 67%;
}

.pence {
  width: 68%;
  position: relative;
  left: 15px;
}

.header-link {
  text-decoration-style: none;
  color: black;
  position: relative;
  left: 55px;
}

.see-features:hover {
  background-color: #d0d0d0;
  position: relative;
  left: 15px;
  width: 277px;
}

.editos_topic {
  position: relative;
  bottom: 35px;
  right: 81px;
  color: red;
  font-weight: bold;
  background-color: #f5f5f5;
  width: 120px;
  height: 35px;
}

.header-link:hover {
  text-decoration: none;
  color: black;
}

.cover-us {
  width: 100%;
  height: 55%;
}

.cover1 {
  position: relative;
  right: 105px;
  top: 37px;
}

.magazine-title {
  text-align: center;
  font-weight: bold;
}

.my-Mag {
  position: relative;
  top: 25px;
}

.n-logo {
  width: 35px;
  height: 35px;
  position: relative;
  left: 43%;
  top: 30px;
}

.n-logo2 {
  width: 35px;
  height: 35px;
  position: relative;
  left: 42%;
  top: 30px;
}

.n-logo3 {
  width: 35px;
  height: 35px;
  position: relative;
  left: 39%;
  top: 30px;
}

.cover-us1 {
  height: 50%;
  width: 140%;
}

.cov {
  position: relative;
  top: 37px;
}

.party-chatter,
.recession,
.jim,
.max,
.political-endorsements {
  font-weight: bold;
  font-size: 18px;
}

.max {
  width: 90%;
}

.new_max {
  width: 70%;
}

.my_row {
  margin: 0 0 35px 0;
}

.feat {
  width: 77px;
  background-color: red;
  color: white;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.us {
  background-color: red;
  color: white;
  font-weight: bold;
  width: 60px;
  position: relative;
  top: 10px;
}

.periscope {
  background-color: red;
  color: white;
  font-weight: bold;
  width: 100px;
  position: relative;
  top: 10px;
}

.maximum-pressure {
  width: 70%;
  bottom: 15%;
}

.iran-policy {
  font-weight: bold;
  width: 120%;
}

.scope {
  font-weight: bold;
  position: relative;
  top: 10px;
  background-color: red;
  color: white;
  width: 25%;
}

  .my_footer {
    position: relative;
    top: 45em;
  }

.analysis-img {
  width: 100%;
  height: 43%;
}

.analysis-img2 {
  width: 100%;
  height: 40%;
  position: relative;
  bottom: 20px;
}

.cosplay {
  width: 100%;
}

.nycc {
  font-weight: bold;
  font-size: 18px;
}

.united-states {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.school-safety {
  font-weight: bold;
  font-size: 18px;
}

.fox-anchor {
  width: 130px;
  height: 100px;
  position: relative;
  left: 50px;
}

.in_depth2 {
  background-color: #e8e8e8;
  height: 280px;
}

.daily_briefing {
  border: 1px solid #e8e8e8;
  height: 44vh;
  position: relative;
  left: 15px;
}

.facebook,
.twitter,
.instagram,
.tumblr,
.linkedin {
  height: 25px;
  width: 25px;
}

.listing_social {
  position: relative;
  left: 65px;
  top: 15px;
}

.Copyright {
  position: relative;
  left: 65px;
  top: 15px;
  color: #787878;
}

.my_line {
  width: 1220px;
  position: relative;
  left: 55px;
}

.foo_list,
.list_edition {
  display: inline;
}

.footer_link,
.edition_link {
  text-decoration: none;
  text-decoration-style: none;
  color: #787878;
  font-size: 15px;
}

.footer_link:hover {
  text-decoration: none;
  color: black;
}

.edition_link:hover {
  text-decoration: none;
  color: black;
}

.my_sub {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  height: 37px;
  width: 120px;
}

.list_edition {
  position: relative;
  left: 70%;
  bottom: 85px;
}

.my_list {
  display: inline;
}

.foo_list {
  position: relative;
  left: 50px;
}

.listi_link1 {
  position: relative;
  left: 55%;
  top: 5%;
  padding: 5px;
}

.listi_link1:hover {
  background-color: black;
}

.listi_link {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  text-decoration-style: none;
}

.listi_link:hover {
  text-decoration: none;
  color: red;
}

.chrissy-teigen {
  width: 110%;
  height: 265px;
  padding-right: 18px;
}

.chrissy1 {
  height: 44vh;
  width: 13vw;
  position: relative;
  right: 15px;
  bottom: 28px;
}

.sign-btn {
  background-color: red;
  color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  height: 35px;
  font-weight: bold;
  width: 95px;
}

.my-search {
  position: relative;
  left: 950px;
}

.short-term,
.eric-mayor,
.sergei,
.duke-of-suxxes,
.thr-politician,
.russian-queen,
.anti-defamation,
.los-alamos {
  font-size: 14px;
  padding-left: 35px;
}

.my_line1 {
  width: 325px;
  position: relative;
  left: 45px;
}

.shooting-plasma,
.pittsburg,
.helen-mirren,
.romney,
.harry,
.defense-minister,
.dallas-tornado,
.trade-wars {
  font-size: 14px;
}

.shooting-plasma,
.los-alamos,
.anti-defamation,
.pittsburg,
.russian-queen,
.helen-mirren,
.the-politician,
.romney,
.duke-of-suxxes,
.harry,
.sergei,
.defense-minister,
.eric-mayor,
.dallas-tornado,
.short-term,
.trade-wars {
  position: relative;
  right: 150px;
  margin: -5px;
}

.m_line {
  position: relative;
  right: 75px;
  top: 40px;
}

.main_line {
  position: relative;
  bottom: 5px;
}

.my_msg3 {
  position: relative;
  left: 95px;
}

.pic-link {
  color: black;
}

.pic-link:hover {
  text-decoration: none;
  color: black;
}

.kirk,
.ryna-img,
.peter_sub-container,
.reverend-container,
.anne-container,
.former-container {
  display: flex;
  flex-direction: row;
}

.by_author,
.beto-sub,
.fake-sub,
.anne_richard {
  width: 140px;
  height: 70px;
}

.anne_r {
  width: 110px;
  height: 70px;
}

.line1 {
  position: relative;
  top: 15px;
}

.line {
  position: relative;
  bottom: 35px;
}

.line2 {
  position: relative;
  top: 155px;
}

.liney {
  position: relative;
  bottom: 130px;
}

.latest-container {
  position: relative;
  top: 10px;
}

.my_rowa {
  padding-top: 450px;
}

.anne-container {
  padding-top: 40px;
}

.reverend-container,
.peter_sub-container {
  padding-top: 10px;
  display: flex;
}

.fake-sub,
.beto-sub {
  flex: 1;
}

.former-container {
  padding-bottom: 20px;
}

.news {
  padding-right: 25px;
}

.more-stories-container {
  padding-left: 13px;
}

.form-text {
  border: none;
  padding-top: 5px;
  box-sizing: border-box;
}

.indepth {
  position: relative;
  bottom: 2em;
  left: 190px;
}

.all1 {
  width: 35vw;
}

.nav2 {
  display: none;
}

.im_g {
  float: left;
}

.new_one {
  position: relative;
  left: 85px;
}

.layout {
  width: 100%;
}

.news_l {
  font-weight: bold;
  font-size: 15px;
  color: red;
  position: relative;
  bottom: 20px;
  right: 10px;
}

.lin {
  padding-top: 15px;
}

.foot_new {
  position: relative;
  right: 20em;
  top: 45px;
}

.edition {
  position: relative;
  right: 11em;
  top: 80px;
}

@media only screen and (max-width: 767px) {

  html {
    overflow-x: hidden;
  }

  .my_main {
    display: flex;
    position: relative;
    right: 5em;
  }

  .number2 {
    order: 1;
  }

  .number1 {
    order: 3;
    position: relative;
    top: 70em;
    left: 6em;
  }

  .number3 {
    order: 2;
    position: relative;
    top: 445em;
    left: 6em;
  }

  .img_ns {
    padding-left: 10em;
  }

  .late_img2 {
    width: 35vw;
    height: 35vh;
  }

  .late_news {
    position: relative;
    right: 4em;
    font-size: 15px;
  }

  .speech {
    width: 110%;
    height: 100%;
  }

  .writer {
    width: 40%;
  }

  .opinions2 {
    width: 230%;
  }

  .culture {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .culture-travel {
    order: 2;
    background-color: #f0f0f0;
    width: 105%;
    position: relative;
    left: 1.9em;
  }

  .morc {
    width: 30vw;
    height: 35vh;
  }

  .small_img {
    width: 100%;
    height: 50%;
  }

  .feat_img {
    width: 95%;
    height: 50%;
  }

  .my_main_container {
    position: relative;
    top: 300em;
  }

  .pence {
    width: 100%;
  }

  .header-link {
    position: relative;
    left: 13em;
  }

  .cover-us {
    width: 100%;
    height: 80%;
  }

  .cover1{
    position: relative;
    left: 1em;
  }

  .cover-us2 {
    width: 95%;
  }

  .cover-us1 {
    height: 80%;
  }

  .my-Mag {
    position: relative;
    top: 62em;
    z-index: 1;
  }

  .magazine-title {
    padding-left: 5em;
  }

  .magazine-title {
    padding-left: 7em;
  }

  .analysis-img,
  .cosplay {
    width: 95%;
    height: 80%;
    position: relative;
    left: 1em;
  }

  .coveted-dem,
  .pic-link {
    padding-left: 1em;
  }

  .none {
    display: none;
  }

  .in_depth2  {
    height: 125vh;
    width: 88vw;
    position: relative;
    left: 2em
  }

  .mig12 {
    position: relative;
    top: 20em;
  }

  .all1 {
    width: 100%;
    position: relative;
    right: 5em;
  }

  .school-safety {
    position: relative;
    right: 13em;
  }

  .sm_depth {
    position: relative;
    top: 5em;
  }

  .news_l {
    position: relative;
    left: 1em;
  }

  .news_ima {
    width: 93%;
    position: relative;
    left: 1em;
  }

  .daily {
    width: 70%;
    text-align: center;
    position: relative;
    left: 7em;
  }

  .center_sm {
    position: relative;
    left: 13em;
  }

  .sign-btn {
    position: relative;
    left: 18em;
  }

  .daily_briefing {
    height: 79vh;
    width: 100%;
  }

  .my_footer {
    position: relative;
    top: 300em;
  }

  .nav-list {
    position: relative;
    top: em;
  }

  .footer_nav {
    position: relative;
    left: 7em;
  }

  .edition_unlist {
    width: 300%;
    position: relative;
    right: 18em;
  }

  .nav-container-top {
    display: none;
  }

  .signing-in {
    position: relative;
    top: 15px;
  }

  .small_sign {
    position: relative;
    right: 7em;
  }

  .logins {
    position: relative;
    right: 6em;
  }

  .sub_me {
    position: relative;
    bottom: 53px;
  }

  .main-header {
    width: 130%;
    height: 20vh;
    padding-right: 45px;
  }

  .title {
    font-size: 2em;
  }

  .big-navbar-logo {
    position: relative;
    right: 18em;
    top: 0.5em;
  }

}

@media only screen and (max-width: 991px) {

  html {
    overflow-x: hidden;
  }

  .none {
    display: none;
  }

}

/* @media only screen and (max-width: 768px) {
  .my_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  body {
    overflow-x: hidden;
    margin: 0 auto;
  }

  .pi {
    width: 45vw;
  }

  .new2 {
    width: 100%;
  }

  .im_g {
    width: 120vw;
  }

  .pim {
    font-size: 35px;
  }

  .morc {
    height: 50vh;
  }

  .new3 {
    width: 290%;
    font-size: 35px;
  }

  .old_feat {
    width: 350%;
    font-size: 35px;
  }

  .opinions2 {
    width: 900%;
  }

  .sent_opinion1 {
    position: relative;
    top: 150px;
  }

  .auth {
    width: 230%;
  }

  .writer {
    width: 150vw;
    height: 100%;
  }

  .feat_img {
    width: 160vw;
    height: 92vh;
  }

  .speech {
    width: 140vw;
    height: 95vh;
  }

  .small_img {
    width: 75vw;
    height: 55vh;
  }

  .culture {
    background-color: #f0f0f0;
    width: 350%;
    height: 280vh;
  }

  .container-fluid {
    width: 90%;
  }

  .layout {
    width: 150%;
  }

  .culttra {
    font-size: 55px;
  }

  .late_news {
    padding-left: 40em;
    padding-top: 95px;
    position: relative;
    left: 250px;
    width: 2040%;
  }

  .my-container,
  .edit_p {
    width: 450%;
  }

  .my_edit {
    width: 110%;
  }

  .u_sa {
    width: 100%;
    height: 45vh;
  }

  .sub_news {
    width: 250%;
    padding-left: 150px;
  }

  .amg {
    width: 50vw;
    height: 20vh;
  }

  .me {
    width: 150%;
  }

  .peter-img,
  .ner {
    width: 87vw;
  }

  .late_img2 {
    width: 105vw;
    height: 60vh;
  }

  .link-official,
  .link_story {
    font-size: 35px;
  }

  .img_ns {
    position: relative;
    left: 500px;
    bottom: 45px;
  }

  #sign-up {
    width: 55vw;
    height: 25vh;
  }

  .letter2 {
    font-size: 25px;
  }

  .none {
    display: none;
  }

  .in_depth2 {
    width: 190vw;
    height: 70%;
  }

  .depth_cont {
    width: 490%;
  }

  .pres_ima {
    width: 80%;
    height: 50vh;
  }

  .president {
    position: relative;
    bottom: 90px;
  }

  .footer_link,
  .edition_link,
  .list_edition {
    font-size: 85px;
  }

  .listi_link {
    font-size: 125px;
  }

  .my_social {
    float: right;
    width: 12%;
    height: 12%;
    position: relative;
    left: 800px;
    bottom: 140px;
  }

  .foo_list {
    position: relative;
    left: 100px;
    top: 190px;
  }

  .foot_new {
    position: relative;
    width: 130%;
  }

  .edition_unlist,
  .nav-list {
    width: 390%;
  }

  .edition_unlist {
    position: relative;
    right: 630px;
  }

  .red-back {
    background-color: red;
    height: 155px;
    width: 500%;
    position: relative;
    left: 10px;
  }

  main {
    position: relative;
    top: 25px;
    left: 70px;
  }

  .pic-link {
    width: 150%;
    font-size: 45px;
  }

  .coveted-dem {
    font-size: 35px;
  }
} */
