* {
    margin: 0;
    padding: 0;
}

.my-daily {
    width: 100%;
}

.me {
    position: relative;
    top: 50px;
}

header, .main-container {
    background-color: white;
    margin: 0 10px 0 10px;
    background-repeat: no-repeat;
}

body {
    background-color: lightgray;
    overflow-x: hidden;
}

.title {
    font-size: 100px;
    font-family: 'Arvo', serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 45px;
    color: white;
}

.sub {
    height: 35px;
    margin-left: 355%;
    position: relative;
    top: 75px;
    background-color: white;
    width: 100%;
    color: red;
    font-weight: bold;
}

.nav {
    background-color: red;
    height: 65px;
}

.my_date, .sign {
    color: white;
}

.sign {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 40px;
}

.nav-link1 {
    color: black;
    padding: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}

.title {
    position: relative;
    left: 280px;
    font-size: 80px;
}

.container {
    padding-top: 40px;
    padding-right: 105px;
    position: relative;
    right: 85px;
}

.turkey_accused, 
.former_white_house,
.most_americans,
.congress_man,
.customer {
    font-weight: bold;
    font-size: 20px;
}

.img_fire {
    width: 377px;
    height: 265px;
}

.speech {
    width: 591px;
    height:364px;
}

.feature, 
.top_story, 
.opinions_heading, 
.culture_heading,
.latest-news, 
.more-heading {
    font-weight: bold;
    color:	#A8A8A8;
}

.link_story {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.link_story:hover {
    color:red;
    text-decoration: none;
}

.author1,
.author2,
.author3,
.author4,
.author5,
.author6 {
    color: 	#585858;
    font-weight: bold; 
    font-size: 15px;
}

.culture {
    background-color: #F0F0F0; 
    height: 890px;
}

.culture_heading {
    position: relative;
    top: 10px;
    left: 15px;
}


.visit_image,
.beer_image, 
.diving_img {
    width: 280px;
    height: 180px;
}

.cloud_hills {
    width: 280px;
    height: 190px;
}

.link_royal, 
.link_craft {
    background-color: #B0B0B0;
    font-size: 15px;
    color: black;
}

.unplug,
.breweries,
.surfing,
.boost_royals {
    font-size: 15px;
}

.jamal-img {
    width: 130px;
    height: 70px;
}

.link_royal:hover, 
.link_craft:hover {
    background-color: black;
    text-decoration: none;
}

.revive_pakistan, 
.worth_travelling, 
.sports, 
.hidden-track {
    font-size: 22px;
    font-family: 'Arvo', serif;
}

.my-other-line {
    padding-top: 26px;
}

.cloud_hills {
    padding-top: 10px;
}

.ex-trump, 
.chicago-img, 
.school, 
.bts-memebers, 
.Amazonian-bird, 
.aoc-img,
.warren-img {
    width: 115px;
    height: 100px;
}

.Arrested {
    font-size: 13px;
}

.elizabeth-warren, 
.challenge-fox, 
.taking-off, 
.members, 
.naacp, 
.strike, 
.official-discribes {
    font-size: 13px;
}

.donald {
    font-size:  15px;
}

.president {
    width: 170px;
    height: 230px;
}

.link-official {
    color: black;
    font-weight: bold;
}

.link-official:hover {
    text-decoration: none;
    color: red;
}

.more-heading {
    padding-top:15px;
}

.everyone-loses-img, 
.storm-img {
    width: 140px;
    height: 100px;
}

.link-stories {
    color: black;
    font-weight: bold;
}

.link-stories:hover {
    text-decoration: underline;
    color: red;
}

#sign-up {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0 ;
    height: 150px;
    width:250px;
}


.logo {
    width:10px;
    height: 10px;
}

.newsletter {
    font-weight: bold;
position: relative;
left: 45px;
top: 10px;
font-size: 15px;
}

.sign-newsletter {
    color: white;
    background-color: #505050;
    width: 95px;
    height: 35px;
    border: none;
    position: relative;
    right: 24px;
    top:10px;
}

.sign-newsletter:hover {
    background-color: #B0B0B0; 
}

.pref-link {
    text-decoration: none;
    color: black;
}

.pref-link:hover {
    text-decoration: none;
    color: black;
}

.newsletter {
    padding-left: 10px;
}

.news-img {
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 45px;
    left: 15px;
}

.preferences {
    font-size: 14px;
    font-weight: bold;
    padding: 18px;
}

.main-container {
    background-color: white;
}

.main-header2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.main-logo {
    width: 30px;
    height: 30px;
    position: relative;
    left: 523px;
    top: 27px;
}

.my_content {
    position: relative;
    top: 20px;
}

.my-container, 
.my_main_container {
    background-color: white;
    margin: 0 10px 0 10px;
    padding-top: 5%;
}

.see-features {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    width: 67%;
}

.see-features:hover {
    background-color: #D0D0D0;
    text-decoration: none;
}

.pence {
    width: 70%;
}

.header-link {
text-decoration-style: none;
    color: black;
}

.cover-us {
    max-width: 100%;
    height: 50%;
}

.cover1 {
    position: relative;
    right: 105px;
    top: 37px;
}

.magazine-title {
    text-align: center;
    font-weight: bold;
}

.n-logo {
    width: 35px;
    height: 35px;
    position: relative;
    left: 43%;
    top: 30px;
}

.n-logo2 {
    width: 35px;
    height: 35px;
    position: relative;
    left: 42%;
    top: 30px;
}

.n-logo3 {
    width: 35px;
    height: 35px;
    position: relative;
    left: 39%;
    top: 30px;
}

.cover-us1 {
    height: 50%;
    width:  140%;
}

.party-chatter, 
.recession, 
.jim, 
.max, 
.political-endorsements {
    font-weight: bold;
    font-size: 18px;
}

.feat {
    width: 77px;
    background-color: red;
    color: white;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.us {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 60px;
    position: relative;
    top: 10px;
}

.periscope {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 100px;
    position: relative;
    top: 10px;
}

.maximum-pressure {
    width: 70%;
    bottom: 15%;
}

.maximum-img {
    width: 95%;
}

.maximum-img1 {
    width: 145%;
}

.iran-policy {
    font-weight: bold;
    width: 120%;
}

.scope {
    font-weight: bold;
    position: relative;
    top: 10px;
    background-color: red;
    color: white;
    width: 25%;
}

.analysis-img {
    width: 100%;
    height: 40%;
}

.analysis-img2 {
    width: 100%;
    height: 40%;
    position: relative;
    bottom: 20px;
}

.cosplay {
    width: 100%;
}

.nycc {
    font-weight: bold;
    font-size: 18px;
}


.united-states {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.school-safety {
    font-weight: bold;
    font-size: 18px;
}

.fox-anchor {
    width: 130px;
    height: 100px;
    position: relative;
    left: 50px;
}

.donald {
    font-weight: bold;
}
.in_depth2 {
    background-color: 	#E8E8E8;
    height: 280px;
}

.daily_briefing {
    border: 1px solid #E8E8E8;
    height: 283px;
    position: relative;
    left: 15px;
}

.my_footer {
    background-color: white;
    height: 250px;
}

.facebook, 
.twitter, 
.instagram, 
.tumblr, 
.linkedin {
    height: 25px;
    width: 25px;
}

.listing_social {
    position: relative;
    left:65px;
    top: 15px;
}

.Copyright {
    position: relative;
    left: 65px;
    top: 15px;
    color:  #787878;
}

.my_line {
    width: 1220px;
    position: relative;
    left: 55px;
}

.foo_list, 
.list_edition {
    display: inline;
}

.footer_link, 
.edition_link {
    text-decoration: none;
    text-decoration-style: none;
    color: #787878;
    font-size: 15px;
}

.footer_link:hover {
    text-decoration: none;
    color: #787878;
}

.edition_link:hover {
    text-decoration: none;
    color: #787878;
}

.my_sub {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    height: 37px;
    width: 120px;
}

.list_edition {
    position: relative;
    left: 70%;
    bottom: 85px;
}

.my_list {
    display: inline;
}

.foo_list {
    position: relative;
    left: 50px;
}

.listi_link1 {
    position: relative;
    left: 57%;
    top: 5px;
}

.listi_link {
    font-size: 40px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: red;
    text-decoration-style: none;
}


.listi_link:hover {
    text-decoration: none;
    color: red;
}

.chrissy-teigen {
    width: 110%;
    height: 265px;
    padding-right: 18px;
}

.chrissy1 {
    height: 282px;
    width: 110%;
    position: relative;
    right: 15px;
}

.sign-btn {
    background-color: red;
    color: white;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    height: 35px;
    font-weight: bold;
    width: 95px;
}

.my-search {
    position: relative;
    left: 950px;
}

.short-term, 
.eric-mayor, 
.sergei, 
.duke-of-suxxes, 
.thr-politician, 
.russian-queen, 
.anti-defamation, 
.los-alamos {
    font-size: 14px;
}

.shooting-plasma, 
.pittsburg, 
.helen-mirren, 
.romney, 
.harry, 
.defense-minister, 
.dallas-tornado, 
.trade-wars {
    font-size: 14px;
}

.shooting-plasma, 
.los-alamos, 
.anti-defamation, 
.pittsburg, 
.russian-queen, 
.helen-mirren, 
.the-politician, 
.romney, 
.duke-of-suxxes, 
.harry, 
.sergei, 
.defense-minister, 
.eric-mayor, 
.dallas-tornado, .short-term, .trade-wars {
    position: relative;
    right: 150px;
}

#line {
    position: relative;
    right: 155px;
}

.me {
    position: relative;
    bottom: 295px;
}

.pic-link {
    color: black; 
}

.pic-link:hover {
    text-decoration: none;
    color:black;
}

.kirk, 
.ryna-img, 
.peter_sub-container, 
.reverend-container, 
.anne-container, 
.former-container {
    display:flex;
    flex-direction: row;
}

.by_author, 
.beto-sub, 
.fake-sub, 
.anne_richard {
    width: 140px;
    height: 70px;
}

.charlie, 
.medicine, 
.Beto, 
.fake_trump, 
.Arrested, 
.link_story 
 {
    position: relative;
    left: 8px;
}

.anne_r {
    width: 110px;
    height: 70px;
}

.line1{
    position: relative;
    top: 85px;
}

.line2 {
    position: relative;
    top: 155px;
}

.liney {
    position: relative;
    top: 30px;
}

.latest-container {
    position: relative;
    top: 350px;
}

.my_rowa {
    padding-top: 450px;
}

.anne-container {
padding-top: 160px;
}

.reverend-container {
    padding-top: 90px;
}

.former-container {
    padding-top: 50px;
}

.Arrested {
    font-size:  16px;
}